@value shared: "styles/shared.css";
@value background-colour-secondary, font-colour-secondary, font-size-l from shared;

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  /* todo: fm - variablise and share in AboutSection*/
  height: 6rem;

  font-size: font-size-l;

  color: font-colour-secondary;
  background-color: background-colour-secondary;
}
