@value shared: "styles/shared.css";
@value secondary-colour from shared;
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* todo: fm - make background on html?*/
html {
  box-sizing: border-box;
  background-color: secondary-colour;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
figure {
  font-family: 'Ubuntu', sans-serif;
}
