@value shared: "styles/shared.css";
@value secondary-colour from shared;

/* todo: fm - make background on html?*/
html {
  box-sizing: border-box;
  background-color: secondary-colour;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
