@value shared: "styles/shared.css";
@value background-colour-secondary from shared;

/* todo: fm - change to main*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: background-colour-secondary;
}

.divider {
  width: 50vw;

  color: font-colour-secondary;
  opacity: 100%;
  transition: opacity 1s;
}

.is-hidden {
  opacity: 0%;
}
