@value shared: "styles/shared.css";
@value primary-colour from shared;

/* todo: fm - change to main*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: primary-colour;
}
