@value shared: "styles/shared.css";
@value font-colour-secondary, font-size-s, font-size-m, font-size-l, font-size-xl from shared;

/* todo: fm - split out hero*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  transition: height 1s;
}

.main.is-reduced {
  height: 50vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 30rem;
  width: 100vw;
}

.sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 10rem;

  color: font-colour-secondary;
}

.sub-title {
  font-size: font-size-l;
}

.sub-description {
  font-size: 1.5rem;

  color: font-colour-secondary;
}

.contact-links {
  display: flex;
  justify-content: space-between;

  width: 40rem;
}

.contact-icon {
  display: inline;

  color: font-colour-secondary;
}

.contact-icon:hover {
  color: grey;
}

.contact-text {
  display: inline;
  margin-left: font-size-m;

  font-size: font-size-s;
  font-weight: bold;

  color: font-colour-secondary;
}

.contact-text:hover {
  color: grey;
}

.down-arrow {
  color: font-colour-secondary;

  opacity: 100%;
  transition: opacity 1s;
}

.is-hidden {
  opacity: 0;
}
