@value shared: "styles/shared.css";
@value font-size-m, font-size-ml, font-colour-primary, background-colour-secondary from shared;

.main {
  /* todo: fm - variablise if sticks?*/
  height: 100vh;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  /* todo: fm - use shared banner height*/
  height: calc(100vh - 6rem);
}

.content {
  width: 60rem;
}

.top-content {
  display: flex;
}

.profile-image {
  width: 15rem;

  border: 3px solid background-colour-secondary;
  border-radius: 3px;
}

.bio {
  /* todo: fm - variabilise gutter*/
  margin-left: 3rem;

  font-size: font-size-m;
  text-align: justify;
}

.bio-paragraph {
  margin-bottom: 1rem;
  line-height: 2.1rem;

  color: font-colour-primary;
}

.known-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.known-tech-heading {
  font-size: font-size-ml;
  border-bottom: 2px solid font-colour-primary;
  margin-bottom: 1rem;
}

.tech-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 45rem;
  font-size: 2rem;
}
