@value shared: "styles/shared.css";
@value width-mobile, width-desktop,  font-size-s, font-size-m, font-size-ml, font-colour-primary,font-colour-primary-bold, background-colour-secondary from shared;

@media (min-width: width-mobile) {
  .main {
    /* todo: fm - variablise if sticks?*/
    height: 100vh;
  }
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
}

@media (min-width: width-mobile) {
  .content-container {
    /* todo: fm - use shared banner height*/
    height: calc(100vh - 6rem);
  }
}

.profile-image {
  width: 15rem;

  border: 3px solid background-colour-secondary;
  border-radius: 3px;
}

@media (max-width: width-mobile) {
  .profile-image {
    width: 12rem;
    margin-bottom: 2rem;
  }

  .profile-image-container {
    display: flex;
    justify-content: center;
  }
}

/* todo: fm - make happen at larger*/
@media (min-width: width-mobile) {
  .content {
    /* todo: fm - share?*/
    width: 60rem;
  }
}

@media (max-width: width-mobile) {
  .content {
    /* todo: fm - share?*/
    padding: 2rem;
  }
}

.top-content {
  display: flex;
}

@media (max-width: width-mobile) {
  .top-content {
    flex-direction: column;
  }
}

/* todo: fm - do we want to keep this min-width*/
@media (min-width: width-mobile) {
  .bio {
    margin-left: 3rem;
  }
}

.bio-paragraph {
  font-size: font-size-m;
  /* todo: fm - share?*/
  margin-bottom: 1rem;
  /* todo: fm - share?*/
  line-height: 2.1rem;

  color: font-colour-primary;
}

@media (max-width: width-mobile) {
  .bio-paragraph {
    font-size: font-size-s;
    font-weight: bold;
    line-height: 1.75rem;

    color: font-colour-primary-bold;
  }
}

.known-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.known-tech-heading {
  font-size: font-size-ml;
  border-bottom: 2px solid font-colour-primary;
  margin-bottom: 1rem;
}

@media (max-width: width-mobile) {
  .known-tech-heading {
    margin-bottom: 1.5rem;
  }
}

.tech-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 45rem;
  font-size: 2rem;
}

@media (max-width: width-mobile) {
  .tech-icons {
    width: 15rem;
  }
}
