@value shared: "styles/shared.css";
@value background-colour-primary from shared;

/* todo: fm - delete if not used*/
.main {
  height: 100vh;
  /* todo: fm - needed?*/
  -webkit-overflow-scrolling: touch;

  overflow-y: scroll;

  background-color: background-colour-primary;
}
