@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

// Colour Variables
$first-colour: #272727;
$second-colour: #4a6f9e;
$third-colour: #353535;
$fourth-colour: #355884;
$font-colour-first: black;
$font-colour-second: #fafafa;

// Text
$font-xxs: 15px;
$font-xs: 18px;
$font-s: 20px;
$font-ms: 30px;
$font-m: 40px;
$font-ml: 50px;
$font-l: 60px;
$font-xl: 80px;
$font-xxl: 100px;

// Structure
$spacing-xxs: 2px;
$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-ms: 30px;
$spacing-m: 40px;
$spacing-l: 60px;
$spacing-xl: 100px;
$spacing-xxl: 150px;
$section-height-m: 700px;

// Media Query
$width-tablet: 650px;
$width-desktop: 1000px;

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  background-color: $first-colour;

  #root div.page {
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    h1, h2, h3, h4, h5, p, a, figure, {
      margin: 0;
      font-family: 'Ubuntu', sans-serif;
      font-weight: normal;
    }

    h2:not(.hero) {
      font-size: $font-l;

      @media(min-width: $width-tablet) {
        font-size: $font-xxl;
      }
    }

    h3 {
      font-size: $font-l;
    }

    h4 {
      font-size: $font-m;
    }

    h5 {
      font-size: $font-xxs;
    }

    p {
      font-size: $font-xs;
      letter-spacing: $spacing-xxs;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: grey;
      }
    }

    strong {
      font-weight: bold;
    }

    hr {
      color: black;
      border-color: black;
    }

    div.banner {
      display: flex;
      flex-flow: nowrap column;
      align-items: center;
      justify-content: center;
      height: $spacing-xxl;
      color: $font-colour-second;

      div.nav-offset {
        position: relative;
        top: -80px;
        visibility: hidden;
      }

      span {
        position: relative;
        top: 0;
        transition: top 0.3s;

        &.raise {
          top: -20px;
        }
      }
    }

    header {

      nav {
        position: fixed;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        height: 0;
        padding: 0;
        width: 100%;
        color: $font-colour-second;
        background-color: $third-colour;
        opacity: 0;
        transition: opacity 0.5s;
        transition: height 0.5s;
        transition: padding 0.5s;

        &.active {
          height: auto;
          padding: $spacing-s;
          opacity: 1;
          transition: opacity 0.5s;
        }

        &.open {
          flex-direction: column;

          a {
            display: block;
            width: 100%;
            padding: $spacing-xs;
            border-top: 1px solid $font-colour-second;

            &:last-child {
              padding-bottom: 0;
            }
          }

          i {
            padding-bottom: $spacing-xs;
          }
        }

        a {
          display: none;
        }

        i {
          align-self: flex-end;
          display: block;
        }

        @media(min-width: $width-tablet) {
          a {
            display: block;
            padding-right: $spacing-s;
            font-size: $font-s;
          }

          i {
            display: none;
          }
        }
      }

      @media(min-width: $width-tablet) {
        nav {
          justify-content: flex-start;
        }
      }

      div.hero {
        height: 475px;
        padding-top: $spacing-xxl;
        padding-bottom: $spacing-ms;
        transition: all 0.5s;

        &.full {
          height: 100vh;
          padding-top: 0;
          transition: all 0.5s;
        }

        h1, a {
          padding-bottom: $spacing-s;
        }

        h2, p:nth-child(3){
          padding-bottom: $spacing-xs;
        }

        p:nth-child(4) {
          padding-bottom: $spacing-ms;
        }

        h1 {
          font-size: $font-ms;
          font-weight: bold;

          @media(min-width: $width-tablet) {
            font-size: $font-xl;
            font-weight: normal;
          }

          @media(min-width: $width-desktop) {
            font-size: $font-xxl;
          }
        }

        h2 {
          font-size: $font-s;

          @media(min-width: $width-tablet) {
            font-size: $font-m;
          }

          @media(min-width: $width-desktop) {
            font-size: $font-l;
          }
        }

        p, > div p {
          font-size: $font-xxs;

          @media(min-width: $width-tablet) {
            font-size: $font-s;
          }
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;

          a {
            display: flex;
            padding-left: $spacing-s;
            padding-right: $spacing-s;

            i {
              position: relative;
              top: -3px;
              font-size: $font-ms;
            }

            p {
              padding-left: $spacing-xs;
            }
          }
        }

        @media(min-width: $width-tablet) {
          div {
            flex-direction: row;
          }
        }
      }
    }

    main {

      section {
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: center;
        padding: $spacing-m;
        background-color: $second-colour;

        @media(min-width: $width-tablet) {
          min-height: $section-height-m;
          padding: 0;
        }

        @media(min-width: $width-desktop) {
          flex-flow: nowrap row;
        }

        div.nav-offset {
          position: relative;
          top: -100px;
          visibility: hidden;

          @media(min-width: $width-desktop) {
            top: -380px;
          }
        }

        div.container {
          display: flex;
          flex-flow: wrap row;
          align-items: center;
          width: 100%;

          a:hover {
            color: $font-colour-second;
          }

          a {
            height: 100%;

            img {
              border: 5px solid $first-colour;
              border-radius: 3px;
              width: 100%;

              @media(min-width: $width-tablet) {
                border-width:7px;
              }
            }
          }

          div.subsection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            padding-top: $spacing-s;
            padding-bottom: $spacing-m;
          }

          div.section-third {

            @media(min-width: $width-tablet) {
              padding: $spacing-m;
              width: 50%;
              align-self: flex-start;

              &:nth-child(3) {
                width: 100%;
              }
            }

            @media(min-width: $width-desktop) {
              height: 75%;

              &, &:nth-child(3) {
                width: (100% / 3);
              }
            }

            h3 {
              padding-bottom: $spacing-m;
            }

            div.techs {
              display: flex;
              flex-flow: wrap row;

              div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 25%;
                padding-bottom: $spacing-s;

                i {
                  font-size: $font-l;
                }
              }
            }
          }

          div.section-two-thirds {
            padding-bottom: 0;

            @media(min-width: $width-tablet) {
              width: 100%;
              padding: $spacing-m;
              padding-bottom: 0;
            }

            @media(min-width: $width-desktop) {
              width: (200% / 3);
            }
          }

          div.section-full {
            padding-bottom: 0;

            @media(min-width: $width-tablet) {
              padding-left: $spacing-m;
              padding-right: $spacing-m;
            }

            @media(min-width: $width-desktop) {
              padding-left: $spacing-xl;
              padding-right: $spacing-xl;
            }

            > div, > div div {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-bottom: $spacing-s;

              @media(min-width: $width-tablet) {
                padding-bottom: $spacing-m;
              }

              h3 {
                padding-bottom: 0;
                text-align: center;
                font-size: $font-m;
                font-weight: bold;

                @media(min-width: $width-tablet) {
                  font-size: $font-l;
                  font-weight: normal;
                }
              }

              h4 {
                padding-bottom: $spacing-s;
                text-align: center;
                font-size: $font-ms;

                @media(min-width: $width-tablet) {
                  font-size: $font-m;
                }
              }
            }

            p {
              padding-bottom: $spacing-s;
            }

            li {
              padding-bottom: $spacing-xxs;
            }
          }
        }
      }

      section.carousel {
        justify-content: center;

        div.container {
          display: flex;
          justify-content: space-between;

          @media(min-width: $width-tablet) {
            display: none;
          }

          @media(min-width: $width-desktop) {
            width: 95%;
            height: 70%;
          }

          &.active {
            display: flex;
          }

          > i {
            display: none;
            font-size: $font-m;
            @include user-select-none;

            @media(min-width: $width-tablet) {
              display: block;
              opacity: 0;

              &.active {
                opacity: 1;
              }

              &:hover {
                color: $font-colour-second;
              }
            }
          }

          hr {
            width: 100%;

            @media(min-width: $width-tablet) {
              display: none;
            }
          }

          > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;

            @media(min-width: $width-tablet) {
              width: 90%;
            }

            div.section-third {
              justify-content: flex-start;
              width: 100%;
              height: 100%;

              @media(min-width: $width-desktop) {
                width: (100% / 3);
              }

              h3 {
                font-size: $font-ml;
                padding-bottom: $spacing-xs;
                text-align: center;
                font-weight: bold;

                @media(min-width: $width-tablet) {
                  font-weight: normal;
                }
              }

              h4 {
                font-size: $font-ms;
                padding-bottom: $spacing-s;
              }

              div:nth-child(2) {
                display: flex;
                justify-content: space-between;
                width: 20%;
                padding-bottom: $spacing-s;

                a i {
                  font-size: $font-s;
                }
              }

              div.techs {
                width: 100%;
                justify-content: space-between;

                div {
                  width: 20%;

                  i {
                    font-size: $font-ms;
                  }

                  h5 {
                    font-size: $font-xxs;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
