@import url('https://fonts.googleapis.com/css?family=Alegreya|Arvo|BioRhyme|Bitter|Montserrat|Nunito|Roboto|Rubik|Source+Sans+Pro|Spectral|Ubuntu&display=swap');

// font-family: 'Alegreya', serif;
// font-family: 'BioRhyme', serif;
// font-family: 'Bitter', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Spectral', serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Arvo', serif;
// font-family: 'Nunito', sans-serif;


// colour variables
$primary-colour: #1b1b1b;
$secondary-colour: #3e6392f2;
$tertinary-colour: #fafafa;
$light-font: $tertinary-colour;

// font sizes
$font-xxl: 100px;
$font-xl: 80px;
$font-l: 60px;
$font-m: 40px;
$font-s: 20px;
$font-xs: 5px;

//structure
$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-m: $spacing-s * 2;
$section-height: 100vh;

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  background-color: $primary-colour;

// !!! Make everything section under one roof
  section {
    height: $section-height;
    padding: $spacing-m;
  }

  h1, h2, h3, h4, p, figure {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
  }

  h1 {
    font-size: $font-xxl;
  }

  h3 {
    font-size: $font-l;
  }

  p {
    font-size: $font-s;
  }

  header {

    div.banner {
      text-align: center;
      background-color: #1b1b1b;
      color: $light-font;
    }
  }

  main {

    section.bio {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: $secondary-colour;

      > :not(.vr) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        width: (100% / 3);
        padding: $spacing-s;
        padding-left: $spacing-m;
        padding-right: $spacing-m;

        h3 {
          height: 15%;
        }

        > p, > div {
          padding-top: $spacing-xs;
          height: 85%;
        }

        img {
          width: 100%;
        }
      }

      div.vr {
        height: 30%;
        border-left: 2px solid $primary-colour;
      }

      div.techs {
        display: flex;
        flex-wrap: wrap;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 25%;
          height: 20%;
          padding: $spacing-xs;

          i {
            font-size: $font-l;
          }
        }
      }
    }

    @media(max-width: 1150px) {

      section.bio {
        padding: 0;

        div.techs div {
          width: (100% / 3);

          i {
            font-size: $font-m;
          }

          p {
            font-size: $font-xs;
          }
        }
      }
    }

    @media(max-width: 700px) {

      section.bio {
        flex-direction: column;
        height: auto;

        > :not(.vr) {
          width: auto;
        }

        div.vr {
          display: none;
        }
      }
    }
  }
}

hr {
  width: 90%;
  height: 2px;
  margin: 0;
  border: 1px solid black;

  @media(min-width: 500px) {
    width: 20%;
  }

  @media(min-width: 800px) {
      width: 2px;
      height: 40%;
  }
}
