@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// Colour Variables
$primary-colour: #272727;
$secondary-colour: #4a6f9e;
$tertinary-colour: #fafafa;
$light-font: $tertinary-colour;

// Text
$font-xxl: 100px;
$font-xl: 80px;
$font-l: 60px;
$font-m: 40px;
$font-ms: 30px;
$font-s: 20px;
$font-xs: 5px;
$font-colour-primary: black;

// Structure
$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-m: 40px;
$section-height-m: 800px;

// Media Query
$width-tablet: 650px;
$width-desktop: 1000px;

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  background-color: $primary-colour;

  #root div.temp {
    height: 100vh;
    overflow-y: scroll;
  }

  section {
    display: flex;
    padding: $spacing-m;
  }

  h1, h2, h3, h4, p, figure, {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
  }

  h2:not(.hero) {
    font-size: $font-l;

    @media(min-width: $width-tablet) {
      font-size: $font-xxl;
    }
  }

  h3 {
    font-size: $font-l;
  }

  p {
    font-size: $font-s;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: grey;
    }
  }

  div.banner {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    color: $light-font;
    height: 200px;

    @media(min-width: $width-tablet) {
      height: 250px;
    }

    &.hero {
      height: 300px;

      &.full {
        height: 100vh;
      }

      h1 {
        font-size: $font-m;

        @media(min-width: $width-tablet) {
          font-size: $font-xl;
        }

        @media(min-width: $width-desktop) {
          font-size: $font-xxl;
        }
      }

      h2 {
        font-size: $font-ms;

        @media(min-width: $width-tablet) {
          font-size: $font-m;
        }

        @media(min-width: $width-desktop) {
          font-size: $font-l;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          display: flex;
          padding-left: $spacing-s;
          padding-right: $spacing-s;

          i {
            position: relative;
            top: -3px;
            font-size: $font-ms;
          }

          p {
            padding-left: $spacing-xs;
          }
        }
      }

      @media(min-width: $width-tablet) {
        div {
          flex-direction: row;
        }
      }
    }
  }

  header {
  }

  main {

    section {
      flex-flow: wrap row;
      align-items: center;
      width: 100%;
      background-color: $secondary-colour;

      @media(min-width: $width-tablet) {
        padding: 0;
      }

      @media(min-width: $width-desktop) {
        flex-flow: nowrap row;
        height: $section-height-m;
      }



      div.subsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding-top: $spacing-s;
        padding-bottom: $spacing-m;

        @media(min-width: $width-tablet) {
          padding: $spacing-m;
          width: 50%;

          &:nth-child(3) {
            width: 100%;
          }
        }

        @media(min-width: $width-desktop) {
          height: 75%;
          &, &:nth-child(3) {
            width: (100% / 3);
          }
        }

        figure {
          height: 100%;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        h3 {
          padding-bottom: $spacing-m;
        }

        div.techs {
          display: flex;
          flex-flow: wrap row;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
            padding-bottom: $spacing-s;

            i {
              font-size: $font-l;
            }
          }
        }
      }
    }
  }
}
